.Ani {
  overflow: hidden;
}

.Ani :hover {
  cursor: pointer;
}
.Action :hover .card {
  transform: scale(1.1);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.card-text {
  font-size: 14px;
}
.icon i {
  font-size: 20px;
  transition: all 0.5s;
}
.position-absolute {
  width: 80%;
  right: -37%;
  transform: translateX(-50%);
}
i:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.mange :hover {
  transform: scale(1.2);
}
.color {
  color: gold;
  font-size: 25px;
}
.colorHeart {
  color: red;
  font-size: 25px !important;
}
.none-dk {
  visibility: hidden;
}
.cartAdd {
  transform: scale(1.2);
}

.titles {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fe9324;
  background: linear-gradient(90deg, rgba(254, 147, 36, 1) 0%, rgba(251, 193, 123, 1) 100%);
  box-shadow: 0px -15px 15px 4px rgba(0, 0, 0, 0.1);
  margin: 0 !important;
  padding: 0 10px !important;
}
.BTN-INFO {
  font-size: 14px !important;
  padding: 5px 10px 5px 10px !important;
  color: white !important;
}
.itle-INFO {
  font-size: 14px !important;
  color: white !important;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #fc9123;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
.load {
  height: 100%;
}
